body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 0 5em 0 5em;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: 800;
    font-size: 1.3em;
    color: white;
    margin: 0px;
    padding: 10px
}

.header-links {
    display: flex;
    gap: 1em;


}

a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

li {
    list-style: none;
}

.intro {
    background-color: #1f2937;
    padding: 2em 5em 4em 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;


}

.placeholder-image {
    display: flex;
    max-height: 200px;
}


.website-awesome {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding: bottom 0;
}

.website-subtext {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    max-width: 20em;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: .7em 2em .7em 2em;
}

.pics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics-header {
    font-size: 20px;
    font-style: extra-bold;
    color: #1f2937;

}

.pics-w-subtext {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding-bottom: 50px
}

.rdm {
    max-width: 150px;
    max-height: auto;
    border-radius: 10px;
}

.onee,
.twoo,
.threee,
.fourr {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.rdm-sbtxt {
    text-align: center;
}

.quote-box {
    background-color: #e5e7eb;
    display: flex;

    padding: 150px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
    padding: 0;
    margin: 0;
}

.thor {
    font-size: 20px;
    font-weight: 500;
}

.thor-q {
    display: flex;
    justify-content: flex-end;
}